doctype html
html
	head
		title LokiBlog
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		.blog-masthead
			.container
				nav.blog-nav
					a.blog-nav-item.active(href='/') Home
					a.blog-nav-item(href='/posts/add') Add Posts

		block content
	footer.blog-footer
		p 
			| LokiBlog &copy; 2017